In [ ]:
import sqlite3
import os
import pandas as pd
import numpy as np

## UPDATE FROM HEROKU

In [ ]:
os.chdir('./../04 Wekun')
connection = sqlite3.connect('site.db')
cursor = connection.cursor()

In [ ]:
cursor.execute("""
SELECT name
FROM sqlite_schema
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%'
""").fetchall()

In [ ]:
users = pd.read_sql('select * from Users',con=connection)
answers = pd.read_sql('select * from Answers',con=connection)
connection.close()

,id,user_id,img_1,img_2,choice,question,create_at
0,1,27494084-d410-11e9-b304-005056b5408a,50f5eaf4fdc9f065f0007ec8,50f5e640fdc9f065f0006bb6,image_1,1,2019-09-10 21:16:54.567232
1,2,27494084-d410-11e9-b304-005056b5408a,5140da26fdc9f04926003d67,513d9b97fdc9f03587007a70,image_2,1,2019-09-10 21:16:57.140787
2,3,27494084-d410-11e9-b304-005056b5408a,514133f6fdc9f049260044b2,51408aa4fdc9f0358700e771,image_1,1,2019-09-10 21:16:59.343599
3,4,27494084-d410-11e9-b304-005056b5408a,50f5eb6bfdc9f065f00082ea,50f5ebacfdc9f065f000846d,image_2,1,2019-09-10 21:17:01.883876
4,5,27494084-d410-11e9-b304-005056b5408a,50f56364fdc9f065f0005d4c,513f2f14fdc9f0358700dd09,image_2,1,2019-09-10 21:17:04.490361
...,...,...,...,...,...,...,...
134,135,182d54c4-d496-11e9-b304-005056b5408a,50f5e76bfdc9f065f0007197,513d6e64fdc9f035870052d8,image_2,1,2019-09-11 13:17:24.075875
135,136,182d54c4-d496-11e9-b304-005056b5408a,5141468dfdc9f0492600683e,513d783dfdc9f035870060cd,image_1,1,2019-09-11 13:17:33.173238
136,137,182d54c4-d496-11e9-b304-005056b5408a,50f563fcfdc9f065f0005f9d,50f43526fdc9f065f0002bbe,image_2,1,2019-09-11 13:17:58.515149
137,138,182d54c4-d496-11e9-b304-005056b5408a,50f433dafdc9f065f00027c9,5141478bfdc9f04926006a9b,image_1,1,2019-09-11 13:18:07.431093
138,139,182d54c4-d496-11e9-b304-005056b5408a,513d9dc3fdc9f035870081b1,51414594fdc9f04926006619,image_1,1,2019-09-11 13:18:16.094116

In [ ]:
# query = cursor.execute('''
# SELECT  *
# FROM Users
# ''')
# headers = [column[0] for column in query.description]

# new_users_df = pd.DataFrame(query.fetchall(), columns=headers)
# new_users_df

In [ ]:
# query = cursor.execute('''
# PRAGMA table_info(Users)
# ''')
# headers = [column[0] for column in query.description]

# query_df = pd.DataFrame(query.fetchall(), columns=headers)
# query_df

# users_dtype = dict(zip(query_df['name'].values,query_df['type'].values))
# users_dtype['create_at'] = 'DATE'
# # users_dtype

# query = cursor.execute('''
# PRAGMA table_info(Answers)
# ''')
# headers = [column[0] for column in query.description]

# query_df = pd.DataFrame(query.fetchall(), columns=headers)
# query_df

# answers_dtype = dict(zip(query_df['name'].values,query_df['type'].values))
# answers_dtype['create_at'] = 'DATE'
# answers_dtype

In [ ]:
# connection.close()

## Update From Heroku

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# follows django database settings format, replace with your own settings
DATABASES = {
    'production':{
        'NAME': 'dc6be6usaurgfs',
        'USER': 'wkywflxcyiwwxo',
        'PASSWORD': 'f94a749d823dcf873af8400ea3864fd808fd05c3d3f062dff93568453b736bda',
        'HOST': 'ec2-54-83-17-151.compute-1.amazonaws.com',
        'PORT': 5432,
    },
}

# choose the database to use
db = DATABASES['production']

# construct an engine connection string
engine_string = "postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}".format(
    user = db['USER'],
    password = db['PASSWORD'],
    host = db['HOST'],
    port = db['PORT'],
    database = db['NAME'],
)

# create sqlalchemy engine
engine = create_engine(engine_string)

# read a table from database into pandas dataframe, replace "tablename" with your table name
heroku_users_df = pd.read_sql_table('Users',engine)
heroku_answers_df = pd.read_sql_table('Answers',engine)
mails_df = pd.read_sql_table('Mails',engine)

In [ ]:
heroku_answers_df

,id,user_id,img_1,img_2,choice,question,create_at
0,1,69e93220-d8d2-11e9-9b5d-16a885f8ea7f,513e6fdefdc9f0358700c621,50f4347efdc9f065f0002897,image_2,4,2019-09-16 22:36:29.367925
1,2,69e93220-d8d2-11e9-9b5d-16a885f8ea7f,513d35fafdc9f03587002b4a,5140ce0bfdc9f04926002fee,=,4,2019-09-16 22:36:44.596495
2,3,69e93220-d8d2-11e9-9b5d-16a885f8ea7f,513e64dbfdc9f0358700b8b8,513e60a9fdc9f0358700b421,image_1,4,2019-09-16 22:36:49.854212
3,4,69e93220-d8d2-11e9-9b5d-16a885f8ea7f,5141482dfdc9f04926006c1e,513d6b57fdc9f03587004cc9,image_1,4,2019-09-16 22:36:54.650133
4,5,69e93220-d8d2-11e9-9b5d-16a885f8ea7f,513d2d90fdc9f035870024f6,513cec61fdc9f0358700239b,image_2,4,2019-09-16 22:37:02.044515
...,...,...,...,...,...,...,...
317,341,edddc9d2-e5df-11e9-b12c-22de73cc2124,513e6587fdc9f0358700b99c,514136befdc9f04926004cc2,image_2,3,2019-10-03 13:17:20.738854
318,342,edddc9d2-e5df-11e9-b12c-22de73cc2124,50f44567fdc9f065f00034ef,50f61455beb2fed9100006d3,image_2,2,2019-10-03 13:17:29.058614
319,343,edddc9d2-e5df-11e9-b12c-22de73cc2124,513d6225fdc9f03587003f2e,513d9c28fdc9f03587007c44,image_2,2,2019-10-03 13:17:35.362174
320,344,edddc9d2-e5df-11e9-b12c-22de73cc2124,5140db4afdc9f04926003eb6,5140daddfdc9f04926003e40,image_1,2,2019-10-03 13:17:38.496490
321,345,edddc9d2-e5df-11e9-b12c-22de73cc2124,5140db4afdc9f04926003eb6,5140daddfdc9f04926003e40,X,2,2019-10-03 13:18:04.898763

In [ ]:
# users_df = pd.concat([old_users_df,new_users_df,heroku_users_df],ignore_index=True, sort=True)
# users_df = users_df.reset_index()
# users_df['id'] = users_df.index
# users_df = users_df.drop(columns=['index'])

# users_df = users_df[['id', 'user_id', 'device_id', 'create_at', 'age', 'gender', 'education', 'transport', 
#                'nationality', 'ip_address', 'comuna', 'region', 'country',
#                'browser', 'platform', 'psico1', 'psico2', 'psico3', 'psico4', 'psico5',
#                'psico6', 'psico7', 'psico8', 'psico9', 'psico10', 'income']]

# # users_df

In [ ]:
# answers_df = pd.concat([old_answers_df,new_answers_df,heroku_answers_df],ignore_index=True)

# # Corregir multiples clicks
# answers_df = answers_df.groupby(['user_id','img_1','img_2','question']).first()
# answers_df = answers_df.sort_values(['id']).reset_index()
# answers_df['id'] = answers_df.index

# answers_df = answers_df[['id','user_id','img_1','img_2','question','choice','create_at']]
# # answers_df

In [ ]:
# answers_df.to_csv('answers_XX-09-2019.csv',index=False)
# users_df.to_csv('users_XX-09-2019.csv',index=False)
# mails_df.to_csv('mails_XX-09-2019.csv',index=False)